.timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    background-image: url("https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png");
    background-size: cover;
}
.shadow-card{
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgb(249, 238, 238);
    padding: 20px;
}
.watchTime{
    margin-left: 20%;
    margin-top: 10%;
}
.image{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
button{
    color: white;
    border-width: 0px;
    padding: 5px;
    border-radius: 5px;
    width: 60px;
    margin-right: 10px;
}
.start{
    background-color: #1db05f;
}
.stop{
    background-color: #ef0d36;
}
.reset{
    background-color: #eaa800;
}